@media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
  #camsContainer {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: 5px;
}