@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Webcam Feed</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
</head>
<body>
    <h1>Live Webcam Feed</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <canvas id="video" width="640" height="480"></canvas>
    }

    <script>
        // Create a connection to the SignalR hub
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/videoHub")
            //.withHubProtocol(new MessagePackHubProtocol())
            .build();

        const canvas = document.getElementById("video"); //canvas, better for streaming and to control memory, replacing img src can cause memory risks
        const ctx = canvas.getContext("2d");

        // On ReceiveFrame set new image in canvas
        connection.on("ReceiveFrame", data => {
            const img = new Image();
            img.onload = () => {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0);
            };
            img.src = "data:image/jpeg;base64," + data;
        });

        // Start the connection
        connection.start().catch(err => console.error(err.toString()));
    </script>
</body>
</html>