@model CameraFeed.Web.ViewModels.CameraRequestViewModel

@{
    ViewData["Title"] = "Home Page";
}

<title>Live Webcam Feed</title>
<h1>Live Webcam Feed</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    @if (Model.FailList.Any())
    {
        var errorMessage = "The following cameras failed to start: ";
        <div class="alert alert-danger">
            @foreach (var camId in Model.FailList)
            {
                errorMessage += camId;
            }
            <strong>@errorMessage</strong>
        </div>
    }


    <div id="app">
        @foreach (var camId in Model.SuccessList)
        {
            <video-feed camera-id="@camId" hub-url="https://localhost:7214/videoHub"></video-feed>
        }
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="~/js/videoFeedComponent.js"></script>
}
