@model List<CameraFeed.Shared.DTOs.CameraInfoDTO>

@{
    ViewData["Title"] = "Home Page";
}

<title>Live Webcam Feed</title>
<h1>Live Webcam Feed</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div id="camsContainer">
        @foreach (var camera in Model)
        {
            @* TODO: appsettings.json *@
            <video-feed camera-id="@camera.Id" camera-name="@camera.Name" hub-url="https://localhost:7214/videoHub"></video-feed>
        }
    </div>
}
else
{
    <div>
        <p>NOPE</p>
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="~/js/videoFeedComponent.js"></script>
}
