html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

#camsContainer {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-left: 5px;
}
.cambox canvas {
    width: 100% !important;
    height: auto !important;
    display: block;

    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
}

.cambox canvas:hover {
    border: 3px solid grey;
}

.cambox {
    width: 40%;
    min-width: 0;
    margin-left: 5px;
    /*overflow: hidden;*/

/*    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}